Package: com.booleanmagic.wicarrier
Name: WiCarrier
Version: 1.1.1
Architecture: iphoneos-arm
Description: Display WiFi network in status bar
Maintainer: Ryan Petrich <rpetrich@gmail.com>
Author: Ryan Petrich <rpetrich@gmail.com>
Depends: mobilesubstrate, firmware (>= 3.0)
Pre-Depends: firmware (<< 4.2)
Section: Tweaks
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=WiCarrierDp
Website: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=WiCarrierDp
dev: rpetrich
