Package: com.booleanmagic.wicarrier
Name: WiCarrier
Depends: mobilesubstrate
Version: 0.1
Architecture: iphoneos-arm
Description: Display WiFi network in StatusBar
Maintainer: Ryan Petrich (rpetrich@gmail.com)
Author: Ryan Petrich (rpetrich@gmail.com)
Depends: mobilesubstrate, firmware (>= 3.0)
Section: Tweaks
